.kaufman {
  padding: 90px 0 90px 0;
  background-color: #1f1f1f;
  color: #fff;
  position: relative;
  overflow: hidden;
}
/*Делаем синий треугольник через псевдоэлемент*/
.kaufman::before {
  content: '';
  width: 877px;
  height: 877px;
  background: url('../../images/kaufman-triangle.svg') no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
}