@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

/*Выключаем чтобы сделать через псевдоэлемент*/
/* .rotation {
  animation: rotation 20s linear infinite;
} */

.rotation::before {
  animation: rotation 20s linear infinite;
}